{# src/Shaklee/PWSBundle/Resources/views/Business/index.html.twig #}
{% extends 'ShakleePWSBundle::layout.html.twig' %}

{% block content %}
	<h1>template</h1>
	<ul>
		<li>Summary</li>
	</ul>
	<div>
		<h3>Fasttrack</h3>
	</div>
	<div>
		<h3>Power Bonus</h3>
	</div>
	<div>
		<h3>Dream Trip</h3>
	</div>
	<div>
		<h3>Dream Trip</h3>
	</div>
	<div>
		<h3>Trackers & Incentives</h3>
	</div>
	<div>
		<h3>New Leads</h3>
	</div>
	<div>
		<h3>Followup</h3>
	</div>
	<div>
		<h3>My Date Book</h3>
	</div>
{% endblock %}
